
/*算法图*/

.graphCanvas svg g .node:hover {
    cursor: pointer;
}
.graphCanvas svg g  ellipse   {
  stroke: var(--font-color);
  fill: var(--font-color);
}
/*node label color*/
.graphCanvas svg g text {
  fill: var(--font-color);
}
/*图高亮
一种是改dot
一种是改css
            a33 [label="", xlabel="a33", color="orange",style=filled, fillcolor="yellow"];
*/

.graphCanvas svg g .posthigh ellipse {
  fill: purple;
  stroke: purple;
}
.graphCanvas svg g .posthigh path {
  stroke: purple;
}
.graphCanvas svg g .posthigh polygon {
  fill: purple;
  stroke: purple;
}

.graphCanvas svg g .prehigh ellipse {
  fill: aqua;
  stroke: aqua;
}
.graphCanvas svg g .prehigh path {
  stroke: aqua;
}
.graphCanvas svg g .prehigh polygon {
  fill: aqua;
  stroke: aqua;
}

.graphCanvas svg g .highlight ellipse {
  fill: orange;
  stroke: orange;
}
.graphCanvas svg g .highlight path {
  stroke: orange;
}
.graphCanvas svg g .highlight polygon {
  fill: orange;
  stroke: orange;
}

.graphCanvas svg g .posthigh ellipse {
  fill: purple;
  stroke: purple;
}
.graphCanvas svg g .posthigh path {
  stroke: purple;
}
.graphCanvas svg g .posthigh polygon {
  fill: purple;
  stroke: purple;
}

.graphCanvas svg g .first ellipse {
  fill: chartreuse;
  stroke: chartreuse;
}
.graphCanvas svg g .first path {
  stroke: chartreuse;
}
.graphCanvas svg g .first polygon {
  fill: chartreuse;
  stroke: chartreuse;
}

.graphCanvas svg g .second ellipse {
  fill: red;
  stroke: red;
}
.graphCanvas svg g .second path {
  stroke: red;
}
.graphCanvas svg g .second polygon {
  fill: red;
  stroke: red;
}

/*background color while transitioning*/
.graphCanvas svg g  path   {
  fill: var(--back-color);
}

/*border color without the outermost*/
.graphCanvas svg g .graph_node_table path   {
  stroke: var(--font-color);
}