

/* no default value for "circle", so no need to override */
.ttree-node .rd3t-label__title{
  fill: var(--font-color) ;
  stroke: none;
}
.ttree-node > circle{
  fill: var(--font-color) ;
  stroke: var(--font-color) ;
}

.ttree-leaf-node > circle {
  fill: none;
  stroke: var(--font-color);
}


/* there is a default value for "rd3t-link", so need to use more specific selector override */
.light .rd3t-link {
  stroke: var(--font-color) ;
  stroke-width: 4;
}
.dark .rd3t-link {
  stroke-width: 4;
  stroke: var(--font-color) ;
}

.light .hidden {
  stroke: none;
}
.dark .hidden {
  stroke: none;
}

/**/

.tree-container svg g .ttree-node.highlight circle {
    stroke: orange;
    stroke-width: 5;
    fill: yellow;
}

.tree-container svg g .ttree-node.prehigh circle {
    stroke: orange;
    stroke-width: 5;
    fill: green;
}

.tree-container svg g .ttree-node.posthigh circle {
    stroke: orange;
    stroke-width: 5;
    fill: gray;
}